<main class="loading-bar">
    <section class="loading-bar-progress" [style.width]="progress + '%'" [style.backgroundColor]="color"
        [style.color]="color" [style.height]="height" [style.opacity]="show ? '1' : '0'">

    </section>
</main>